Repository approvers/site-data, pull requests merged in 2022-06, with the labels that each got.

#61 update: 新メンバーのデータ追加、及び既存メンバーのデータ更新
  data/members/list.yaml
Labels: Data Update, Data Add

#62 update: 既存メンバー "める" のデータ更新
  data/members/list.yaml
Labels: Data Update

#64 feat(blog): Add authorId
  data/blogs/001.md
  data/blogs/002.md
  data/blogs/003.md
  data/blogs/004.md
  data/blogs/005.md
Labels: Blog Update, New Features / Improvements
